.banner {
  width: 100%;
  height: auto;
  color: white;
  text-align: right;
  background-size: 100%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat; }
  @media screen and (max-width: 760px) {
    .banner {
      display: block; } }
  .banner__logo {
    max-width: 350px;
    top: 0;
    left: 0;
    position: absolute; }
    @media screen and (min-width: 1025px) and (max-width: 1400px) {
      .banner__logo {
        max-width: 250px; } }
    @media screen and (max-width: 1025px) {
      .banner__logo {
        max-width: 150px; } }
    .banner__logo--form {
      margin-top: 10px;
      max-width: 250px; }
      @media screen and (max-width: 1025px) {
        .banner__logo--form {
          max-width: 150px; } }
  .banner__form {
    background-image: url("./images/home-slide01.jpg");
    max-width: 2000px;
    width: 100%;
    height: 100px;
    background-size: cover;
    color: white;
    text-align: right;
    align-content: center;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      .banner__form {
        height: 75px; } }
    @media screen and (max-width: 760px) {
      .banner__form {
        height: 50px; } }

@media screen and (min-width: 760px) {
  div.hamburgerMenu {
    display: none; } }

.basket {
  border: 1px solid #0f0a5a;
  width: 80%;
  max-width: 1600px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between; }
  @media screen and (min-width: 761px) and (max-width: 1025px) {
    .basket {
      max-width: 1026px;
      min-width: none; } }
  @media screen and (max-width: 760px) {
    .basket {
      max-width: 760px;
      min-width: none; } }
  .basket__header {
    font-size: 22pt;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-left: 10px; }
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      .basket__header {
        font-size: 15pt; } }
    @media screen and (max-width: 760px) {
      .basket__header {
        font-size: 14pt; } }
  .basket__headerBorder {
    border-bottom: 1px solid rgba(100, 97, 97, 0.651);
    margin-left: 10px;
    margin-bottom: 20px;
    width: 20%; }
  .basket__empty {
    font-size: 14pt;
    color: #c9c1c1;
    text-align: center; }
  .basket__price {
    display: flex; }
  .basket__content {
    display: flex;
    flex-wrap: wrap; }
  .basket__item {
    display: flex;
    width: 33%; }
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      .basket__item {
        width: 50%; } }
    @media screen and (max-width: 760px) {
      .basket__item {
        justify-items: center;
        width: 100%; } }
  .basket__right {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px; }
  .basket__itemPic {
    bottom: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 150px; }
  .basket__itemHeader {
    padding-bottom: 0;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 14pt;
    font-weight: bold;
    color: gray; }
    @media screen and (max-width: 1025px) {
      .basket__itemHeader {
        font-size: 12pt; } }
  .basket__itemDescription {
    font-size: 8pt;
    font-weight: bold;
    color: gray;
    margin-top: -10px;
    margin-bottom: 0;
    margin-left: 10px; }
    @media screen and (max-width: 1025px) {
      .basket__itemDescription {
        font-size: 6pt; } }
  .basket__itemButton {
    background-color: #c03131;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 8px;
    margin-left: 10px; }
    @media screen and (max-width: 1025px) {
      .basket__itemButton {
        padding: 6px 12px; } }
  .basket__priceFont {
    color: red;
    margin-left: 5px;
    margin-right: 10px; }

.heroes {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  width: 80%;
  flex-wrap: wrap;
  flex-grow: inherit; }

.hero {
  margin-bottom: 15px;
  text-align: center;
  min-width: 33%; }
  @media screen and (min-width: 761px) and (max-width: 1025px) {
    .hero {
      min-width: 50%; } }
  @media screen and (max-width: 760px) {
    .hero {
      min-width: 100%; } }

.clickableImg {
  cursor: pointer;
  width: 250px;
  height: 350px; }
  @media screen and (min-width: 761px) and (max-width: 1025px) {
    .clickableImg {
      width: 150px;
      height: 200px; } }
  @media screen and (max-width: 760px) {
    .clickableImg {
      width: 100px;
      height: 150px; } }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */ }
  .modal__content {
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 60%;
    max-width: 1000px; }
  .modal__close {
    color: #929292;
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    right: 10px;
    top: 0; }
    @media screen and (max-width: 760px) {
      .modal__close {
        font-size: 12px; } }
    .modal__close:hover, .modal__close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }
  .modal__right {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -10px;
    width: 100%; }
    @media screen and (max-width: 760px) {
      .modal__right {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -10px; } }
  .modal__pic {
    bottom: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px; }
    @media screen and (max-width: 760px) {
      .modal__pic {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0; } }
    .modal__pic--size {
      width: 300px;
      height: 300px; }
      @media screen and (min-width: 761px) and (max-width: 1025px) {
        .modal__pic--size {
          width: 200px;
          height: 200px; } }
      @media screen and (max-width: 760px) {
        .modal__pic--size {
          width: 100px;
          height: 100px; } }
  .modal__title {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18pt;
    font-weight: bold; }
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      .modal__title {
        font-size: 14pt; } }
    @media screen and (max-width: 760px) {
      .modal__title {
        font-size: 6pt; } }
  .modal__titleBorder {
    border-bottom: 1px solid rgba(100, 97, 97, 0.651);
    width: 10%; }
  .modal__description {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12pt;
    color: gray; }
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      .modal__description {
        font-size: 8pt; } }
    @media screen and (max-width: 760px) {
      .modal__description {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 5pt; } }
  .modal__price {
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px dashed rgba(160, 145, 145, 0.651);
    border-top: 1px dashed rgba(160, 145, 145, 0.651);
    width: 60%;
    font-size: 11pt;
    color: #4b4b4b; }
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      .modal__price {
        font-size: 8pt; } }
    @media screen and (max-width: 760px) {
      .modal__price {
        font-size: 5pt;
        margin-top: 0;
        margin-bottom: 0; } }
  .modal__button {
    background-color: #00aa54;
    border: none;
    color: white;
    padding: 12px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 14px; }
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      .modal__button {
        padding: 8px 28px; } }
    @media screen and (max-width: 760px) {
      .modal__button {
        padding: 3x 11px;
        font-size: 6px; } }
    .modal__button:hover {
      background-color: #095837; }

.form {
  width: 40%;
  height: 100%;
  padding: 50px;
  max-width: 1600px;
  background: #FFFFFF;
  margin: 100px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22); }
  @media screen and (min-width: 761px) and (max-width: 1025px) {
    .form {
      width: 60%;
      height: 80%;
      padding: 20px;
      margin: 30px auto; } }
  @media screen and (max-width: 760px) {
    .form {
      width: 60%;
      height: 100%;
      padding: 10px;
      margin: 20px auto; } }
  .form__input[type="text"], .form__input[type="date"], .form__input[type="datetime"], .form__input[type="email"], .form__input[type="number"], .form__input[type="search"], .form__input[type="time"], .form__input[type="url"], .form__input[type="password"], .form__select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(160, 145, 145, 0.651);
    background: transparent;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 45px; }
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      .form__input[type="text"], .form__input[type="date"], .form__input[type="datetime"], .form__input[type="email"], .form__input[type="number"], .form__input[type="search"], .form__input[type="time"], .form__input[type="url"], .form__input[type="password"], .form__select {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 35px; } }
    @media screen and (max-width: 760px) {
      .form__input[type="text"], .form__input[type="date"], .form__input[type="datetime"], .form__input[type="email"], .form__input[type="number"], .form__input[type="search"], .form__input[type="time"], .form__input[type="url"], .form__input[type="password"], .form__select {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 25px; } }
  .form__button {
    background-color: #5f92c9;
    border: none;
    color: white;
    padding: 12px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin-top: 60px; }
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      .form__button {
        padding: 8px 28px;
        margin-top: 20px; } }
    @media screen and (max-width: 760px) {
      .form__button {
        padding: 4px 14px;
        margin-top: 20px; } }
    .form__button:hover {
      background-color: #34669c; }

.footer {
  background-color: #261d52;
  height: 60px;
  max-width: 2000px;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 0; }
  @media screen and (max-width: 760px) {
    .footer {
      font-size: 6pt;
      max-width: 760px; } }

p.thick {
  font-size: 14pt;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0; }
  @media screen and (min-width: 761px) and (max-width: 1025px) {
    p.thick {
      font-size: 12pt; } }
  @media screen and (max-width: 760px) {
    p.thick {
      font-size: 8pt; } }

p.normal {
  font-size: 11pt;
  margin-top: 0;
  margin-bottom: 0; }
  @media screen and (min-width: 761px) and (max-width: 1025px) {
    p.normal {
      font-size: 9pt; } }
  @media screen and (max-width: 760px) {
    p.normal {
      font-size: 6pt; } }

p.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 15pt; }
  @media screen and (min-width: 1025px) and (max-width: 1500px) {
    p.menu {
      font-size: 10pt; } }
  @media screen and (min-width: 900px) and (max-width: 1200px) {
    p.menu {
      font-size: 7pt; } }
  @media screen and (min-width: 761px) and (max-width: 900px) {
    p.menu {
      font-size: 5pt; } }
  @media screen and (max-width: 760px) {
    p.menu {
      font-size: 0pt; } }
  p.menu--form {
    font-size: 9pt; }
    @media screen and (min-width: 900px) and (max-width: 1200px) {
      p.menu--form {
        font-size: 7pt; } }
    @media screen and (min-width: 761px) and (max-width: 900px) {
      p.menu--form {
        font-size: 5pt; } }
    @media screen and (max-width: 760px) {
      p.menu--form {
        font-size: 0pt; } }

@media screen and (max-width: 760px) {
  .hamburger__menu {
    position: absolute;
    left: -200px;
    top: 0;
    height: auto;
    transition: left 0.3s ease, box-shadow 0.3s ease;
    z-index: 999; }
    .hamburger__menu--ul {
      list-style: none;
      margin: 0;
      padding: 2.5em 0 0;
      /* Hide shadow w/ -8px while 'closed' */
      -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      min-height: 100%;
      width: 200px;
      background: #1a1a1a; }
    .hamburger__menu--a {
      display: block;
      padding: .75em 15px;
      line-height: 1em;
      font-size: 8pt;
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid #383838; }
    .hamburger__menu--close {
      position: absolute;
      right: 0;
      top: 0; }
    .hamburger__menu:target, .hamburger__menu[aria-expanded="true"] {
      left: 0;
      outline: none;
      -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
      box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25); }
  .hamburger__button--close {
    background-color: red;
    border: none;
    color: white;
    padding: 3px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 14px; }
  .hamburger__button--open {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 42px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 14px;
    left: 0;
    top: 50px;
    position: absolute; } }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b1acac;
  opacity: 1;
  /* Firefox */ }

a {
  color: inherit;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px; }
  @media screen and (min-width: 761px) {
    a:visited, a:hover {
      color: inherit;
      text-decoration: none; } }
