
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;

  & a {
    color: inherit;
    text-decoration: none;
  }

  &__background {
    width: 100vw;
    max-width: 100%;
  }

  &__logo {
    width: 20vw;
    height: 5vw;
    @media screen and (max-width: 760px) {
      width: 40vw;
      height: 10vw;
    }
  }

  &__menu {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    align-items: center;
    font-size: 1.5vw;
    color: white;
    @media screen and (max-width: 760px) {
      display: none;
    }
  }

  &__hamburger {
    width: 10vw;
    height: 10vw;
    margin-right: 1vw;
    &:hover {
      cursor: pointer;
    }
    @media screen and (min-width: 761px) {
      display: none;
    }
  }

  &--form {
    background-image: url("./images/home-slide01.jpg");
    width: 100%;
    height: 6vw;
    background-size: cover;
    @media screen and (max-width: 760px) {
      height: 12vw;
    }
  }
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  padding: 0;
  & a {
    padding: 6vw;
    font-size: 7vw;
    @media screen and (min-width: 450px) {
      padding: 1vw;
      font-size: 3vw;
    }
    color: #a79f9f;
    display: block;
    transition: 0.3s;
    & :hover {
      color: #f1f1f1;
    }
  }
  & .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0;
    font-size: 15vw;
    @media screen and (min-width: 450px) {
      font-size: 15vh;
      padding-right: 6vh;
    }
  }
}

.basket {
  border: 1px solid rgb(15, 10, 90);
  width: 80vw;
  margin: 10px auto;
  padding: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22pt;
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      font-size: 15pt;
    }
    @media screen and (max-width: 760px) {
      font-size: 13pt;
    }
  }
  
  &__price {
    display: flex;
  }

  &__priceFont {
    color: red;
  }

  &__headerBorder {
    border-bottom: 1px solid rgba(100, 97, 97, 0.651);
    margin-bottom: 10px;
    width: 25%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    padding-top: 20px;
    width: 33.3%;
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      width: 50%;
    }
    @media screen and (max-width: 760px) {
      width: 100%;
    }
  }

  &__textSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
  }

  &__picSide {
    width: 10vw;
    height: 15vw;
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      width: 15vw;
      height: 22.5vw;
    }
    @media screen and (max-width: 760px) {
      width: 30vw;
      height: 45vw;
    }
  }

  &__itemHeader {
    font-weight: bold;
    color: gray;
    font-size: 14pt;
    @media screen and (max-width: 1025px) {
      font-size: 12pt;
    }
  }

  &__itemDescription {
    font-size: 8pt;
    @media screen and (max-width: 1025px) {
      font-size: 6pt;
    }
    font-weight: bold;
    color: gray;
  }

  &__itemButton {
    background-color: rgb(192, 49, 49);
    &:hover {
      background-color: rgb(134, 21, 28);
    }
    border: none;
    color: white;
    width: 80%;
    cursor: pointer;
    font-size: 9pt;
    font-weight: bold;
    padding: 10px;
    @media screen and (max-width: 1025px) {
      padding: 6px;
      font-size: 6pt;
    }
  }
}

.heroes {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  flex-wrap: wrap;
}

.hero {
  margin-bottom: 3vh;
  text-align: center;
  width: 33%;
  @media screen and (min-width: 761px) and (max-width: 1025px) {
    width: 50%;
  }
  @media screen and (max-width: 760px) {
    width: 100%;
  }
  &__image {
    cursor: pointer;
    width: 15vw;
    height: 22.5vw;
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      width: 20vw;
      height: 30vw;
    }
    @media screen and (max-width: 760px) {
      width: 30vw;
      height: 45vw;
    }
  }

  p.thick {
    font-weight: bold;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (max-width: 760px) {
      font-size: 14pt;
    }
  }

  p.normal {
    font-size: 12pt;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (max-width: 760px) {
      font-size: 10pt;
    }
  }
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8); 

  &__content {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    width: 60%;
    @media screen and (max-width: 760px) {
      width: 80%;
    }
    padding: 10px;
  }

  &__pic {
    position: relative;
    width: 15vw;
    height: 22.5vw;
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      width: 20vw;
      height: 30vw;
    }
    @media screen and (max-width: 760px) {
      width: 20vw;
      height: 30vw;
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__infoContainer {
    width: 100%;
    padding-left: 10px;
    @media screen and (max-width: 600px) {
      padding-left: 0;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 26pt;
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      font-size: 18pt;
    }
    @media screen and (max-width: 760px) {
      font-size: 14pt;
    }
    font-weight: bold;
    padding-bottom: 10px;
  }

  &__titleBorder {
    border-bottom: 2px solid rgba(100, 97, 97, 0.651);
    width: 20%;
  }

  &__description {
    font-size: 13pt;
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      font-size: 11pt;
    }
    @media screen and (max-width: 760px) {
      font-size: 9pt;
    }
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__price {
    border-bottom: 2px dashed rgba(160, 145, 145, 0.651);
    border-top: 2px dashed rgba(160, 145, 145, 0.651);
    width: 60%;
    font-size: 12pt;
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      font-size: 10pt;
    }
    @media screen and (max-width: 760px) {
      font-size: 8pt;
    }
    color: rgb(75, 75, 75);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__button {
    background-color: rgb(0, 170, 84);
    &:hover {
      background-color: rgb(9, 88, 55);
    }
    border: none;
    color: white;
    width: 60%;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    font-size: 11pt;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    color: #929292;
    cursor: pointer;
    padding: 10px;
    height: 20px;
    @media screen and (max-width: 760px) {
      height: 20px;
    }
  }
}

.formPageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  width: 40%;
  padding: 50px;
  margin: 100px auto;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  @media screen and (min-width: 761px) and (max-width: 1025px) {
    width: 60%;
  }
  @media screen and (max-width: 760px) {
    width: 60%;
    padding: 40px;
    margin: 50px auto;
  }

  &__header {
    font-weight: bold;
    font-size: 20pt;
    @media screen and (max-width: 760px) {
      font-size: 16pt;
    }
  }

  &__input,
  &__select {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(160, 145, 145, 0.651);
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 14pt;
    @media screen and (min-width: 761px) and (max-width: 1025px) {
      font-size: 12pt;
    }
    @media screen and (max-width: 760px) {
      font-size: 10pt;
    }
  }

  &__button {
    background-color: rgb(95, 146, 201);
    &:hover {
      background-color: rgb(52, 102, 156);
    }
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    font-size: 11pt;
    font-weight: bold;
    width: 20%;
    @media screen and (max-width: 1025px) {
      width: 40%;
    }
  }

  ::placeholder {
    color: rgb(107, 99, 99);
    text-align: center;
  }
}

.footer {
  background-color: rgb(38, 29, 82);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15pt;
  @media screen and (max-width: 760px) {
    font-size: 6pt;
  }
}

